export(bitsgHs, est.aver, print.est.aver,
fit.SemiParSampleSel,fit.SemiParSampleSel1,
ghss,
logLik.SemiParSampleSel,
plot.SemiParSampleSel,
predict.SemiParSampleSel,
print.SemiParSampleSel,
print.summary.SemiParSampleSel,
S.m,
SemiParSampleSel,
ss.checks,
st.theta.star,
summary.SemiParSampleSel,
theta.tau,
working.comp)

import(copula,mgcv,gamlss.dist)
importFrom(mvtnorm,rmvnorm)
importFrom(trust,trust)
importFrom(magic,adiag)
importFrom(Matrix,bdiag,Matrix)
importFrom(VGAM,pbinorm,dbinorm)

S3method(plot, SemiParSampleSel)
S3method(summary, SemiParSampleSel)
S3method(print, SemiParSampleSel)
S3method(print, summary.SemiParSampleSel)
